.formulario{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
}

.tituloFormulario{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: -14px;
}

.btn-cadastrar{
    max-width: 160px;
}

.btn-editar{
    margin-top: 10px;
}

.btn-buscar{
    max-height: 38px; 
    margin-left: -10px;
}

.barra-busca{
    margin-left: 50.5%;
    margin-top: -54px;
}

.tabela-cadastrados{
    width: 73%;
    margin-left: -11px;
}

.tabela-cadastrados td{
	    background-color: white;
}

.footer{
	z-index: -1
}

.formularioEditar{
	background-color: white;
    margin: 7% auto;
    width: 50%;  
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
   }
   
   .alert{
	width: 100%
}